*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background: url(l7.jpg) no-repeat;
    background-size: cover;
}
.container{
    max-width: 1000px;
    font-size: 20px;
}
.menu{
    background: rgb(0,100,0);
    text-align: center;
    font-size: 15px;
}
ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
li{
    width: 300px;
    margin: 7px;
    padding: 7px;
}
a{
    color: white;
    text-decoration: none;
}
.active,li:hover{
    background-color: turquoise;
    border-radius: 2px;
}
.g,th,td{
    border: 4px solid green;
}
th,td{
    width: 50%;
    text-align: center;
}
.g{
    margin-left:120px;
    margin-top: 100px;
}
